<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/CoderDamian/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="CoderDamian" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>