<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/CoderDamian/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="coderdamian" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>